/* BASE STYLING */

:root {
  --grey: #cccccc;
  --grey-alt: #f0f0f0;
  --grey-alt-2: #dddddd;
  --lightgrey: #f7f7f7;
  --blue: #8888ff;
  --lightblue: #ccccff;
  --darkred: #bb4444;
  --darkgreen: #118811;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;

  font-size: 16px;
}

body {
  padding: 20px;
}



/* ELEMENT STYLING */

h1 {
  margin-bottom: 20px;

  font-size: 2rem;
}

h2 {
  margin: 50px 0 20px 0;

  font-size: 1.5rem;
}

form {
  padding-bottom: 20px;
}

form > * {
  display: block;
}

label {
  margin: 20px 0 5px 0;

  font-weight: bold;
}

input {
  width: 100%;
  max-width: 300px;

  padding: 5px 10px;

  border: 1px solid var(--grey);
  border-radius: 5px;

  background: var(--lightgrey);

  -webkit-appearance: none;
}

input:focus {
  outline: none;

  border-color: var(--blue);

  box-shadow: 0 0 0 3px var(--lightblue);
}

button {
  display: inline-block;

  margin: 20px 10px 0 0;
  padding: 5px 15px;

  font-size: 0.9rem;
  font-weight: bold;

  border: 1px solid var(--grey);
  border-radius: 5px;

  background: var(--lightgrey);

  box-shadow: 0 1px var(--grey-alt-2), 0 -20px 10px inset var(--grey-alt);

  cursor: pointer;
  -webkit-appearance: none;
}

.error {
  display: block;

  width: 300px;
  max-width: 100%;

  margin-top: 15px;

  color: var(--darkred);

  font-weight: bold;
}

.success {
  display: block;
  
  width: 300px;
  max-width: 100%;

  margin-top: 15px;

  color: var(--darkgreen);

  font-weight: bold;
}

.hidden {
  display: none;
}

.red {
  color: var(--darkred);
}

#loginStatus {
  display: block;
}